{% extends "base.html" %}
{% block title %}Rooms{% endblock %}

{% block content %}
<div class="d-flex h-100">

    <!-- Rooms Aside (CHAT-SPECIFIC) -->
    <aside class="aside bg-light border-end p-3" id="rooms-aside-nav" style="white-space: nowrap">
        <h6 class="text-muted mb-3">Rooms</h6>

        <div class="list-group">
            {% for room in rooms %}
            <div
                class="room-item list-group-item list-group-item-action"
                onclick="joinRoom('{{ room }}')">
                <i class="fa-solid fa-hashtag"></i> {{ room }}
            </div>
            {% endfor %}
        </div>

        <div class="active-users text-dark">
            <h4>Active Users</h4>
            <div id="active-users"></div>
        </div>
    </aside>

    <!-- Chat Area -->
    <section class="" id="room-chat-section">
        <span id="username" class="d-none">
            {{ session.get("username", "Guest") }}
        </span>

        <!-- Messages -->
        <div class="" id="chat">
            <!-- messages render here -->
        </div>

        <!-- Input area -->
        <div class="" id="input-area">
            <input
                type="text"
                class="form-control"
                placeholder="Type a message..."
                id="message"
                onkeypress="handleKeyPress(event)"
            >
            <button class="btn btn-primary px-4" onclick="sendMessage()">send</button>
        </div>

    </section>
</div>
{% endblock %}
