<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - MeeChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block head_description %}{% endblock %}">
    <meta name="author" content="{% block head_author %}{% endblock %}">
    <!--Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="main-container">
            <div class="col-2 cl-sm-3 col-xl-2 bg-dark" id="main-nav-container">
                <nav class="navbar bg-dark border-bottom border-body mb-3" data-bs-theme="dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <i class="bi bi-calendar2-heart-fill"></i><span class="d-none d-sm-inline ms-2">MeeChat</span>
                        </a>
                    </div>
                </nav>

                <!-- Vertical alignmetnt -->
                <div class="sticky-top">
                    <nav class="nav flex-column" id="navLinkContainer">
                        <div class="rooms-list">
                            <h3 class="rooms-title mb-3">Rooms</h3>
                            {% for room in rooms %}
                            <a class="nav-link text-white bg-primary" href="#">
                                <i class="bi bi-people"></i><span class="d-none d-sm-inline ms-2">{{ room }}</span>
                            </a>
                            {% endfor %}
                            <!-- <a class="nav-link text-white" href="#">
                                <i class="bi bi-people"></i><span class="d-none d-sm-inline ms-2">{{ room }}</span>
                            </a>
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-people"></i><span class="d-none d-sm-inline ms-2">{{ room }}</span>
                            </a>
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-people"></i><span class="d-none d-sm-inline ms-2">{{ room }}</span>
                            </a> 
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-people"></i><span class="d-none d-sm-inline ms-2">{{ room }}</span>
                            </a> -->
                            

                        </div>
                        
                        <!-- Notifications and other links -->
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-bell"></i><span class="d-none d-sm-inline ms-2">Notifications</span>
                        </a>
                        <a class="nav-link text-white" href="#">
                            <i class="bi bi-box-arrow-left"></i><span class="d-none d-sm-inline ms-2">Logout</span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-10 cl-sm-9 col-xl-10 p-0 m-0">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
        integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            const socket = io.connect("http://127.0.0.1:5000");

            socket.on('connect', () => {
                console.log("Connected to the server!")
                socket.send('User is connected!');
            });

            //
            socket.on(message, (data) => {
                console.log('Hello from JQuery' + data);
            });
        })
    </script>
    {% block extrajs %}{% endblock %}
</body>

</html>

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
<div id="messages">                                                       
  {% for category, message in messages %}                                           
  <div class="alert alert-#">                            
    <a class="close" data-dismiss="alert">&times;</a>                     
    <strong>{{ message }}</strong>                                        
  </div>                                                                  
  {% endfor %}                                                            
</div>


<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
                    <div class="container-fluid">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
{% endwith %} -->