{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="main-container">
        <div class="aside-nav-container">
            <div class="nav-wrapper">
                <div class="search">
                    <input id="room-search" class="room-search" />
                    <button class="join-room-btn">Join</button>
                </div>
                <div class="rooms">
                    <ul>
                        <!-- Room -->
                        <li class="nav-link-item">
                            <div>
                                <a href="room" class="room-btn">Room 1</a>
                            </div>
                        </li>
                        <!-- Room -->
                        <li class="nav-link-item">
                            <div>
                                <a href="room" class="room-btn">Room 1</a>
                            </div>
                        </li>
                        <!-- Room -->
                        <li class="nav-link-item">
                            <div>
                                <a href="room" class="room-btn">Room 2</a>
                            </div>
                        </li>
                        <!-- Room -->
                        <li class="nav-link-item">
                            <div>
                                <a href="room" class="room-btn">Room 3</a>
                            </div>
                        </li>
                        <!-- Room -->
                        <li class="nav-link-item">
                            <div>
                                <a href="room" class="room-btn">Room 4</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="room-container">
            <h3>Room</h3>
            <div class="room-chat">

            </div>
        </div>
    </div>
{% endblock %}