{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST" class="row g-2">
            <div class="col-auto">
                <label for="finding-rooms" class="visually-hidden">Enter Room Name | Code</label>
                <input type="text" autocomplete required class="form-control-plaintext border" id="roomCode" placeholder="Avh0956xHD" value="">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </div>
        </form>
    </div>
{% endblock %}