{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="main-rooms-container">
        <div class="form-container">
            <!-- rooms / form / controls -->
        </div>

        <div class="main-chat">
            <div class="chat">
            <!-- messages render here -->
            </div>

            <div class="input-chat d-flex justify-content-end">
                <input type="text" placeholder="Type a message..." />
                <button class="btn btn-primary send" id="send-btn">send</button>
            </div>
        </div>
    </div>



{% endblock %}