<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - MeeChat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    {% block extrahead %}{% endblock %}
</head>

<body>
<div class="">

    <!-- App Navigation Aside (GLOBAL) -->
    <!-- <aside class="text-white main-side" id="main-aside">
        <h5 class="mb-4">
            <a href="/" class="nav_logo" style="text-decoration:none">
                <i class="bi bi-gender-female text-white"></i>
                <span class="nav_logo-name text-white">Moonbie</span>
            </a>
        </h5>

        <nav class="d-flex flex-column gap-2">
            <a href="{{ url_for('core.home') }}" class="btn btn-outline-light text-start">
                <i class="fa-solid fa-grip"></i> Dashboard
            </a>
            <a href="{{ url_for('chat.chat_rooms')}}" class="btn btn-outline-light text-start">
                <i class="fa-solid fa-comment-dots"></i> Rooms
            </a>
            <a href="{{ url_for('chat.chat_rooms')}}" class="btn btn-outline-light text-start">
                <i class="fa-solid fa-hand-holding-droplet"></i> Forecast
            </a>
            <a href="{{ url_for('chat.chat_rooms')}}" class="btn btn-outline-light text-start">
                <i class="fa-solid fa-bell"></i> Notifications
            </a>
            <a href="#" class="btn btn-outline-light text-start">
                <i class="fa-solid fa-gears"></i> Settings
            </a>
            <a href="#" class="btn btn-outline-danger text-start mt-auto">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
        </nav>
    </aside> -->

    


    <!-- Page Content -->
    <main class="">
        <!-- Flash messages -->
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="{{category}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
        {% block content %}{% endblock %}
    </main>

</div>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/chat_socket.js') }}"></script>

{% block extrajs %}{% endblock %}
</body>
</html>
